$background: #fefbec;
$secondary-background: rgba(darken(#eee8d5,40%),0.15);
$text: #6e655e;
$title-text: darken(#e5e2d3,70%);
$link-text: #1fad83;
$link-text-visited: darken(#6684e1,50%);
$th-color: #586e75;

h1 { text-align: center; margin-bottom: 1.2em; }
h2 { width: 95%; } h3 { width: 90%; }
h1, h2, h3 {
    line-height: 1.2;
    border-bottom: 0.08em solid rgba($title-text,0.5);
}
h2 {
    margin-bottom: 0px;
}
h5 {
    margin-top: 0.1em;
}

hr {
    color: $title-text;
    background-color: $title-text;
    border: none;
    height: 2px;
}

code {
    font-size: 0.85em;
    font-family: monospace;
    background-color: $secondary-background;
    padding: 0em 0.2em;
    border-radius: 3px;
}

pre {
    font-family: monospace;
    line-height: 1.2;
    overflow-x: auto;
    background-color: $secondary-background;
    padding: 0.2em;
    border-radius: 3px;
    & code { padding: 0; }
}

a {
    color: darken($link-text,20%);
    &:active, &:focus { padding: 0.1em; outline: 0; background: rgba(255,255,255,0.2); }
    // &:visited {
    // 	color: $link-text-visited;
    // }
}

.capricon-hide {
    display:none;

    & + .capricon-hideparagraph {
	&::before {
	    content: "Show Steps";
	    opacity: 0.7;
	    display: block;
	    width: 95%;
	    margin: auto;
	    margin-top: 1em;
	    border-bottom: 1px solid black;
	}
	&:hover::before {
	    background-color: $secondary-background;
	    font-weight: bold;
	}

	& + .capricon-reveal {
	    transition: visibility 0.2s, height 0.5s;
	    visibility: visible;
	    height: 10em;
	    width: 95%; margin: auto;
	    overflow: hidden;
	    display: block;

	    .capricon {
		height: 6em;
		overflow: auto;
		margin-bottom: 0;
	    }
	    .capricon-output { margin: 0; padding: 0; }
	    .capricon-input { background: rgba(0,0,0,0); font-family: mono; width: 80%; }
	    .user-input * {
		height: 100%;
		display: inline-block;
	    }
	}
    }
    & + .capricon-hidestache {
	&:hover::before {
	    background-color: lighten($secondary-background,40%);
	    border: 1px solid black;
    	}
	& + .capricon-reveal {
	    position: fixed; display: inline-block;
	    background: rgba(255,255,255,0.2);
	    top: 0; right: 0; bottom: 0; left: 0; margin: 0;
	    z-index: 3;
	    text-align: center;

	    .capricon {
		position: relative;
		top: 45%;
		background: lighten($link-text-visited,70%);
		border: 2px outset lighten($link-text-visited,60%);
		display: inline-block;
		padding: 0.4em 1em;
		border-radius: 3px;
		text-align: left;
	    }
	}
    }
    &:checked + .capricon-hideparagraph + .capricon-reveal {
	visibility: hidden; height: 0;
	.capricon { overflow: hidden; }
    }
    &:checked + .capricon-hidestache + .capricon-reveal {
	display: none;
    }
}
.capricon-result {
    display: inline;
    font-style: italic;
    color: darken($link-text, 30%);
}
.capricon-paragraphresult {
    display: block;
    margin-bottom: 1em;
}

@media (min-width: 1280px) {
    body {
	width: 70%;
    	&::before {
	    content: "";
	    background-image: url(math-tile.jpg);
	    background-size: 150%;
	    opacity: 0.1;
	    position: absolute;
	    width: 21%; 
	    right: 100%; top: 0; bottom: 0;
	}
	&::after {
	    content: "";
	    background-image: url(math-tile.jpg);
	    background-size: 150%;
	    opacity: 0.1;
	    position: absolute;
	    width: 21%; 
	    left: 100%; top: 0; bottom: 0;
	}
    }
}

html {
    display: block; height: calc(100%);
    background-image: radial-gradient(circle closest-side at center,darken($background,85%),darken($background,90%));
}

body {
    font-family: sans-serif;
    margin: auto;
    height: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: darken($text,30%);
    position: relative;
}

nav.nav {
    border-bottom: 1px outset darken($background,50%); 
    ul, li {
	margin: 0; padding: 0; background: darken($background,90%);
	z-index: 2;
    }
    a {
	display: block;
	width: calc(100% - 1em);
	padding: 0.2em 0.5em; 
	text-decoration: none;
	// border: 1px outset darken($background,70%); 
	&, &:visited { color: lighten($text,30%); }
	&:hover {
	    text-decoration: underline;
	    background: darken($background,80%);
	}
    }
    li {
	border-bottom: 1px outset darken($background,70%); 
	position: relative; list-style-type: none; border-collapse: true; text-align: center; }
    & > ul > li {
	display: inline-block; width: 100%;
	ul {
	    display: none;
	    position: absolute;
	    left: 100%; top: -1px;
	}
	& > ul { left: -1px; top: 100%; }
    }
    li:hover > ul {
	display: block;
	width: calc(100% + 2px);
    }
}
#nav-title {
    position: relative; width: 70%;
    & > ul { width: 50%; li { text-align: left; } }
    &:hover > ul { width: calc(50% + 2px); } 
}
#nav-head { text-align: left; width: 15%; }
#page-source {
    width: 15%; text-align: right;
}    
#nav-head, #page-source { a { color: lighten($text,10%); } }

#content-scroll {
    position: relative;
    height: calc(100% - 2.25em - 2px); 
    padding: 0 0 0 1em;
    border-left: 2px outset darken($background,80%);
    border-right: 2px outset darken($background,80%);
}

#content {
    height: 100%; 
    overflow: auto;
    padding: 0 1em 0 1em;
}
#content, #content-scroll { overflow-x: visible; }


.footer {
    &::before {
	content: "";
	display: block; width: 90%; margin: auto;
	border-bottom: 1px solid black;
    }
    text-align: center;
    font-size: small;
    margin-top: 10em;
}


